<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">
    
    <!-- 设置页面不登陆页可以访问 -->
    <http pattern="/login.html" security="none"></http>
    <http pattern="/login_error.html" security="none"></http>
    
    <!-- 是否启用spel表达式use-expressions -->
	<http use-expressions="false">
	<!-- 当前用户必须又ROLE_USER的权限 才能访问跟目录及其子目录所有的资源 -->
	   <intercept-url pattern="/**" access="ROLE_USER"/>
	   <!-- 开启表单登陆功能 -->
	   <form-login login-page="/login.html" default-target-url="/index.html" authentication-failure-url="/login_error.html"/>
	   <csrf disabled="true"/>
	</http>
	<!-- 认证管理器 -->
	<authentication-manager>
	   <authentication-provider>
	       <user-service>
	           <user name="admin" password="123456" authorities="ROLE_USER "/>
	       </user-service>
	   </authentication-provider>
	</authentication-manager>
	
</beans:beans>